<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MiaTrickOrTreat.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3F33FAE21FA52B23003B0F83</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3F33FAF61FA52B23003B0F83</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3F33FB011FA52B23003B0F83</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
